.DS_Store
figwheel_server.log
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.edn
*.log
*.jar
*.class
/.lein-*
/.nrepl-
/app/js/p
/.repl
/out
/node_modules
/electron
/app/config.json
/app/skarbnik-darwin-x64/*
/app/js
/app/node_modules
/app/package-lock.json
/app/*.log
/builds
/app/components
.nrepl-port
/spec/static/test.js
/.repl*
*-init.clj
/.idea
*.iml
*.txt
.rebel_readline_history
/resources/public/cljs
app/skarbnik-darwin-x64.zip
*.log
figwheel_server.log
__builds
