html {
    background: peru;
}

.color-burnt-orange {
    color: #cc5500;
}

.color-danger {
    color: #b70707;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.margin-left-5 {
    margin-left: 5px;
}

.inline-flex {
    display: inline-flex;
}

.bold {
    font-weight: bold;
}

.error-message {
    color: red;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.button {
    padding: 8px;
    border-radius: 14px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    color: peru;
}
