{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name skarbnik-front.conf, :imports nil, :requires nil, :uses nil, :defs {setting {:name skarbnik-front.conf/setting, :file "src_front_profile/skarbnik_front/dev/conf.cljs", :line 3, :column 1, :end-line 3, :end-column 13, :meta {:file "/home/arseny/Documents/electron-cljs/skarbnik/src_front_profile/skarbnik_front/dev/conf.cljs", :line 3, :column 6, :end-line 3, :end-column 13}, :tag cljs.core/IMap}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:my-env}, :order [:my-env]}, :doc nil}