html {
    background: peru;
}

.color-blue {
    color: blue;
}

.color-red {
    color: red;
}

.margin-left-5 {
    margin-left: 5px;
}

.inline-flex {
    display: inline-flex;
}

.bold {
    font-weight: bold;
}

.error-message {
    color: red;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}
